<nav>
    <div class="navbarlg">
        <a href="#allCharacters">All Characters </a>
        <a href="#Universes">Universes</a>
        <a href="#stats">Character Stats</a>
    </div>
</nav>

<div>
<img src="images/heroverselogo.png" alt="heroverse logo">
<a class="button" href="universes">Hero</a>
<a class="button" href="universes">Villian</a>
</div>