<section class="pageOne">
    <nav class="navigation">
        <div class="navbarlg">
            <a href="/">HeroVerse</p>
            <a href="universe">Universes</a>
            <a href="all-characters">All Characters </a>          
                
        </div>
    </nav>
    <h2 class="float-left">
        HEROVERSE
    </h2>
    <div class="logo">
    <img src="/images/heroverselogo.png" alt="heroverse logo" style ="width: 100%;">
    </div>
    </div>

    <div class="btns"> 
        <dl>
          {{#each alignments as |alignment|}}
            <dt><a class="button {{alignment.alignment_type}}" href="{{alignment.alignment_type}}">{{alignment.alignment_type}}</a></dt>
          {{/each}}
        </dl>
</section>