<div>
    <img src="images/star-wars.png" alt="heroverse logo">
    <img src="images/marvel.png" alt="heroverse logo">
    <img src="images/hasbro.png" alt="heroverse logo">
    <img src="images/disney.png" alt="heroverse logo">
    <img src="images/dc-comics.png" alt="heroverse logo">
    <img src="images/dark-horse.png" alt="heroverse logo">
    <a class="button" href="all">ALL</a>
</div>