<nav>
    <div class="navbarlg">
        <a href="/">HeroVerse</p>
            <a href="universe">Universes</a>
            <a href="all-characters">All Characters </a>  
    </div>
</nav>
<section class="pageTwo">
    <h2 class="float-left">
        HEROVERSE
    </h2>
    <div>
        <h1>CHOOSE YOUR UNIVERSE</h1>
        <div class="universes">
            {{#each imageList}}
            <a href="1/{{this.id}}"><img id="{{this.name}}" class="uni" src="{{this.src}}" alt=" {{this.name}} logo"></a>
            {{/each}}
            <a id="all" class="button uni all" href="allHeroes">ALL</a>
        </div>
    </div>
</section>