.pageOne,
.pageTwo {
    flex-wrap: wrap;

}

.navigation{
    margin-right: 10px;
    
}


div.navbarlg { 
     margin:0;
     padding:0;
     list-style-type: none;
     text-decoration: none;
     background-color: turquoise;
 }


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.universes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}


.hero{
    margin-left: 0px;
    background-color: rgb(143, 223, 22);
}

.villain {
    margin-right: 0px;
}

.hero,
.villain {
    margin-top: 50px;
    height: 150px;
    width: 100%;
    font-size: 60px;
    line-height:inherit;
    padding: 0
}

/* page two */
h1 {
    text-align: center;
}

.uni {
    margin: 10px 50px 10px 50px;
    
}

#all {
    height: 100px;
    width: 200px;
}

.all {
    font-size: 80px;
    line-height:initial;
}

/*page five*/
.button-clear {
    margin-left: 20px;
    margin-right: 20px;
}

/* .row ,
.column {
    border: 1px solid  black;
} */
.row {
    block-size: 50px;
}